.header {
  position: absolute;
  top: 0px;
  padding: 60px 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 50;
  @media (max-width: 500px) {
    width: 100%;
    padding: 15px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

	&__card {
		position: relative;
	}
}

.menu__btn {
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  border: 0;
  padding: 0;
}
