.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 60px 0;
	background: transparent;
	z-index: 50;
	@media (max-width: 500px) {
		width: 96%;
		padding: 35px 0;
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}
