.pagination__wrap__left {
	position: fixed;
	top: 40%;
	left: 30px;
	z-index: 1000;
}
.pagination__wrap__right {
	position: absolute;
	top: 32%;
	right: 0;
	z-index: 1000;
}

.pagination {
	//position: absolute;
	//top: 32%;
	//right: 0;
	////transform: translateY(-50%);
	//z-index: 1000;

	min-height: 330px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	transition: all ease 0.5s;
	:after {
		top: 0; //50% для второго сотстояния
		height: 100%;
	}

	&__count {
		font-size: 24px;
		transform: rotate(90deg);
		font-weight: 700;
	}
	&__prev,
	&__next {
		position: absolute;
		left: 0;
		cursor: pointer;
	}
	&__prev {
		top: -55px;
		transform: translateX(-50%);
	}
	&__next {
		transform: translateX(-50%) rotate(180deg);
		bottom: -55px;
	}
}

.pagination__border_one:after {
	content: '';
	position: absolute;
	top: 10%; //50% для второго сотстояния
	left: -0.5px;
	height: 40%;
	width: 1px;
	background: #000;
}
.pagination__border_two:after {
	content: '';
	position: absolute;
	top: 50%; //50% для второго сотстояния
	left: -0.5px;
	height: 40%;
	width: 1px;
	background: #000;
}

.pagination__none:after {
	content: '';
	opacity: 0;
}

.count__opacity {
	color: #dadada;
}
