.breadcrumbs {
	display: flex;
	flex-direction: row;
	align-items: center;
	@media (max-width: 661px) {
		display: none;
	}
	ul {
		display: flex;
		flex-direction: row;
		li {
			margin-right: 45px;
		}
	}
}
