.filter {
	max-width: 45%;
	width: 100%;
	padding: 230px 15px;
	display: flex;
	justify-content: center;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background: #f1f1f1;
	z-index: 50;
	overflow-x: hidden;
	transform: translateX(105%);
	transition: transform 0.5s ease;
	@media (max-width: 661px) {
		max-width: 80%;
		padding: 130px 15px;
	}
	@media (max-width: 421px) {
		max-width: 100%;
	}
	&Active {
		transform: translateX(0%);
	}
	&__close {
		position: absolute;
		top: 95px;
		right: 33%;
		width: 64px;
		height: 64px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background: none;
		border: none;
		cursor: pointer;
		@media (max-width: 661px) {
			top: 50px;
			right: 7%;
		}
		&Text {
			font-family: Eurostile;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.15em;
			color: #000000;
		}
	}
	&__wrapper {
		max-width: 320px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	&__block {
		display: flex;
		flex-direction: column;
		&Active &ButtonCheck {
			background: #000;
			color: #ffffff;
		}
		&Button {
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			border: none;
			background: inherit;
			&:before {
				content: '';
				position: absolute;
				height: 1px;
				width: 20vw;
				right: 105%;
				top: 50%;
				transform: translateY(-50%);
				background: #dadada;
			}
			&Check {
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				font-weight: bold;
				border: 3px solid #231f20;
				border-radius: 5px;
				transition: all 0.5s ease;
			}
			h2 {
				font-family: Eurostile;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				letter-spacing: 0.15em;
				padding: 0 11px;
			}
		}
		&Active &Items {
			padding: 10px 0;
			height: auto;
		}
		&Items {
			display: flex;
			flex-direction: column;
			padding: 0;
			height: 0;
			transition: all 0.5s ease;
			overflow: hidden;
		}
		&Item {
			position: relative;
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			border: none;
			background: inherit;
			&Active &Check {
				opacity: 1;
			}
			&Active h2 {
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 0.15em;
			}
			&Check {
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: opacity 0.5s ease;
				opacity: 0;
			}
			h2 {
				font-family: Eurostile;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 0.15em;
				color: #000000;
				transition: all 0.5s ease;
				padding: 0 11px;
			}
		}
	}
}
